# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/

# Logs & temp
logs/
*.log
tunnel/
*.tar.gz
*.zip
*.jar

# Operating System
.DS_Store
Thumbs.db
